[variables]
NODE_ENV = 'production'

[phases.setup]
nixPkgs = ['nodejs_22']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npx serve@14 -s dist -p 3000 --listen tcp://0.0.0.0:3000'