PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
SENDER_EMAIL="youremail@kingsplug.com"
BLOCKONOMICS_API_KEY=your_blockonomics_key
WEBHOOK_URL=your_webhook_url
RESEND=your_resend_key
PAYSTACK_SECRET_KEY=your_paystack_secret
FRONTEND_URL=http://localhost:5173
