@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #161625;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 6rem auto 0;
  /* Adjust top margin to account for fixed navbar */
  padding: 0 1rem;
  color: #fff;
}

.home-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  background: l#fff;
}

.typewriter {
  position: relative;
  /* For cursor positioning */
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(90deg, #ff79c6, #9580ff, #80ffea);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: typing 2.5s steps(18, end), blink 0.75s step-end infinite;
}

.hero-text h3 {
  font-weight: 300;
  line-height: 1.6;
}

/* Tablet Responsive */
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text h3 {
    font-size: 1rem;
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .container {
    margin: 4rem auto 0;
    padding: 0 1rem;
  }

  .home-content {
    flex-direction: column;
    gap: 2rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .hero-text h3 {
    font-size: 0.95rem;
    line-height: 1.5;
  }

  .typewriter {
    white-space: normal;
  }
}