@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #161625; /* A dark background to make white text visible */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  color: #fff;
}

.home-content {
  display: flex;
  align-items: center;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    background: l#fff;
}

.typewriter {
    position: relative; /* For cursor positioning */
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(90deg, #ff79c6, #9580ff, #80ffea);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation:
      typing 2.5s steps(18, end),
      blink 0.75s step-end infinite;
  }


.hero-text h3 {
    font-weight: 300;
    line-height: 1.6;
}

.hero-text h3 {
    font-weight: 300;
    line-height: 1.6; /* This rule is duplicated */
}