header {
    background-color: #0c1118;
    border-bottom: 1px solid #4A5568;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#headerContainer {
    padding: 1rem 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-link-with-icon {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent; /* Add transparent border */
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* Add border-color to transition */
}

nav a img {
    margin-right: 8px; /* Adjust as needed for spacing between icon and text */
    height: 20px; /* Or your desired icon height */
}

nav a:hover {
    background-color: #111822;
    border-color: #4A5568; /* Change border color on hover */
}

nav a.active {
    background-color: #111822;
    border-color: #4A5568;
}

nav ul li:last-child a {
    border: 1px solid #4A5568;
    border-radius: 25px;
    background-color: transparent; /* Override the default hover background */
}

nav ul li:last-child a:hover {
    border: 1px solid #313946;
}

h1 {
    color: #fff;
}
