@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #161625;
  font-family: "Montserrat", sans-serif;
}

.registerForm {
  max-width: 400px;
  margin: 30px auto;
  margin-top: 8rem;
  padding: 2rem;
  background-color: #1a1a2e;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.error {
  color: #c07f08;
  font-size: 0.9em;
  height: 1.2em; /* Reserves space to prevent layout shift when errors appear */
  margin-top: 2px;
}

hr {
  border: none;
  height: 1px;
  background-color: #444;
}
