@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #161625;
  font-family: 'Montserrat', sans-serif;
}

form {
  max-width: 400px;
  margin: 30px auto;
  padding: 2rem;
  background-color: #1a1a2e;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

 h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #fff;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 5px;
  border: 1px solid #444;
  background-color: #c8c9c8;
  color: #333;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #007aff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.2s;
  background: linear-gradient(90deg, #5fff5f, #7beafe);
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: #e74c3c;
  font-size: 0.8em;
  height: 1.2em; /* Reserves space to prevent layout shift when errors appear */
  margin-top: 2px;
}