.wave-divider {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* background: #161625; Set to the same as Home background */
    margin-top: 0;
    z-index: 1;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    min-height: 100px;
    max-height: 150px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .waves {
        height: 60px;
        min-height: 60px;
    }

    .wave-divider {
        margin-top: 0;
    }
}